* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 62.5%;
	font-family: Helvetica, sans-serif;
	background: url(images/stripe.png) repeat;
	min-height: 100%;
}

p {
	font-size: 1.3em;
	margin-bottom: 15px;
}

#page-wrap {
	width: 660px;
	background: white;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 500px;
	height: auto !important;
	height: 500px;
}

#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}

#foot {

	position: absolute;

	left: 0;

	bottom: 0;

	width: 100%;

	padding: 0% 0% 100% 0%;

	text-align: center;

	color: white;

	background: blue;
}

#main {
	padding: 0% 0% 0% 0% ;
	text-align: center;
	}
h2 {
	padding: 0% 0% 0% 0% ;
}

table, th, td {
	border: 2px solid skyblue;
	width: 60%;
	text-align: center;
}

th {
	font-style:italic;
	background-color: cadetblue;
}

#target {
	padding: 0% 0% 0% 25% 
}

#contact-area {
	margin-left : 30% ;
}

