<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HOME</title>

  <!-- Bootstrap Core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static 'css/stylish-portfolio.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">J.H Portfolio</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#page-top">Home</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="{% url 'mypage' %}">Mypage</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="{% url 'myproject' %}">Myproject</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="{% url 'contact' %}">Contact</a>
        </li>
      </ul>
    </nav>
  
  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">JungHwan Portfolio</h1>
      <br>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
    </div>
    <div class="overlay"></div>
  </header>

    <!-- About -->
    <section class="content-section bg-light" id="about">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>지금까지 진행해온 활동과 프로젝트를 </br>정리한 Portfolio Web 입니다.</h2>
            <p class="lead mb-5">- 광운대학교 재학기간 내에 project 정리 - <br><br>
            <a class="btn btn-dark btn-xl js-scroll-trigger" href="#contents">contents</a>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Contents -->
  <section class="content-section bg-primary text-white text-center" id="contents">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">contents</h3>
        <h2 class="mb-5">Portfolio Web contents</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <!--i class="icon-screen-smartphone"></i-->
            <span class="iconify" data-icon="simple-line-icons:user" data-inline="false"></span>
          </span>
          <h4>
            <a href="{% url 'mypage' %}" style="color:white"><strong>introduction page</strong></a>
          </h4>
          <p class="text-faded mb-0">자기소개 페이지입니다.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
          <h4>
            <a href="{% url 'incollege' %}" style="color:white"><strong>활동 page</strong></a>
          </h4>
          <p class="text-faded mb-0">지금까지 해온 활동들을 <br>정리한 페이지입니다.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
          <h4>
            <a href="{% url 'myproject' %}" style="color:white"><strong>Project Page</strong></a>
          </h4>
          <p class="text-faded mb-0">지금까지 만들어온 Project를 <br>정리한 페이지 입니다.</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <span class="iconify" data-icon="simple-line-icons:paper-plane" data-inline="false" data-width="50"></span>
          </span>
          <h4>
            <a href="{% url 'contact' %}" style="color:white"><strong>Contact me</strong></a>
          </h4>
          <p class="text-faded mb-0">저의 목표 & Contant me!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://web.facebook.com/">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://twitter.com/explore">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="https://github.com/kw17-crayon">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Your Website 2020</p>
    </div>
  </footer>


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/stylish-portfolio.min.js' %}"></script>
  <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
  

</body>
</html>
